.p-contact {
    .c-question {
        background: url("assets/img/bg_maincontact.jpg") center no-repeat;
        background-size: cover;
    }

    .c-contact {
        max-width: 1160px;
        margin: 0 auto;

        &__title {
            font-size: 2.4rem;
            font-weight: 700;
            text-align: center;
            margin-bottom: 25px;
            @include sp {
                font-size: 2rem;
                margin: 15px 0;
            }
        }

        &__subtitle {
            font-size: 1.4rem;
            line-height: 2;
            @include sp {
                font-size: 1.3rem;
            }
        }
    }

    // .error {
    //     font-size: 1.4rem;
    //     width: 100%;
    //     color: #fd0000;
    //     padding-left: 32%;
    // }
}
