///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/



//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color
.u-blue {
    font-weight: 700;
    color: #00ada0;
}

.u-red {
    color: #fd0000;
}

.u-error {
    font-size: 1.4rem;
    width: 100%;
    color: #fd0000;
    padding-left: 32%;
    margin-top: 15px;
    @include sp {
        padding-left: 0;
    }

    &1 {
        display: none;
        line-height: 1.5;
        padding-left: 0;
        margin: 5px 0;
    }
}
//------------------------------------------------------------
